<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>

    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Unicafe Rater</title>

    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet"/>



</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Unicaferater</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Etusivu</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Ravintolat <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li th:each="restaurant : ${restaurants}"><a th:href="@{|/${restaurant.uri}|}" th:text="${restaurant.name}">Kumpula</a></li>
                    </ul>
                </li>

            </ul>


        </div><!-- /.navbar-collapse -->


    </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <h1>Päivän ruuat</h1>

            <div th:each="menu : ${menus}">
                <h2 th:text="${menu.date}">24.12.2014</h2>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Ruoka</th>
                        <th>Hintaluokka</th>
                        <th>&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="food : ${menu.menu}">
                        <td th:text="${food.name}">Pizzaa</td>
                        <td th:text="${food.price.name}">Halpaa</td>
                        <td th:text="${food.total}">12</td>
                        <td class="ratingstars">
                            <div class="btn-group btn-group-xs" role="group" aria-label="...">
                                <button type="button" class="btn btn-success">Pidin</button>
                                <button type="button" class="btn btn-danger">En pitänyt</button>
                            </div>
                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/main.js"></script>
</body>
</html>