<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="/static/css/social-buttons-3.css"/>
</head>
<body>
<div class="page-header">
    <h1>Unirater</h1>
</div>
<!-- 
    If the user is anonymous (not logged in), show the login form
    and social sign in buttons.
-->

    <!-- Login form -->
<div class="panel panel-default" sec:authorize="isAnonymous()">
    <div class="panel-body">
        <h2>Kirjaudu sisään</h2>
        <!--
            Error message is shown if login fails.
        -->

        <div class="alert alert-danger alert-dismissable" th:if="${param.error} == 'bad_credentials'">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            Kirjautuminen epäonnistui
        </div>

        <!-- Specifies action and HTTP method -->
        <form action="/user/login/authenticate" method="POST" role="form">
            <!-- Add CSRF token -->
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <div class="row">
                <div id="form-group-email" class="form-group col-lg-4">
                    <label class="control-label" for="user-email">Sähköpostiosoite:</label>
                    <!-- Add username field to the login form -->
                    <input id="user-email" name="username" type="text" class="form-control"/>
                </div>
            </div>

            <div class="row">
                <div id="form-group-password" class="form-group col-lg-4">
                    <label class="control-label" for="user-password">Salasana:</label>
                    <!-- Add password field to the login form -->
                    <input id="user-password" name="password" type="password" class="form-control"/>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-4">
                    <!-- Add submit button -->
                    <button type="submit" class="btn btn-default">Kirjaudu sisään</button>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="form-group col-lg-4">
                <!-- Add create user account link -->
                <a href="/user/register">Rekisteröidy</a>
            </div>
        </div>
    </div>
</div>
<!-- Social Sign In Buttons -->
<div class="panel panel-default">
    <div class="panel-body">
        <h2>Kirjaudu some-tunnuksilla</h2>
        <div class="row social-button-row">
            <div class="col-lg-4">
                <!-- Add Facebook sign in button -->
                <a href="/auth/facebook"><button class="btn btn-facebook"><i class="icon-facebook"></i> | Facebook</button></a>
            </div>
        </div>
        <div class="row social-button-row">
            <div class="col-lg-4">
                <!-- Add Twitter sign in Button -->
                <a href="/auth/twitter"><button class="btn btn-twitter"><i class="icon-twitter"></i> | Twitter</button></a>
            </div>
        </div>
    </div>
</div>

<!-- 
    If the user is already authenticated, show a help message instead
    of the login form and social sign in buttons.
-->
<div sec:authorize="isAuthenticated()">
    <p>lolapua:D</p>
</div>
</body>
</html>